# Supabase
SUPABASE_URL=https://rlnjprzeqohtwhkgeqzs.supabase.co
SUPABASE_KEY=sb_publishable_3OvyGr8w1gApqR1EQadLJQ_Y21HpyWS

# Inngest
INNGEST_EVENT_KEY=2KDHH4tJvISvPKLMibPGNDE2wtCVurrtyVDyCpjFDjUDnDfYJpaprrCuZF7PEWXTn5JGCWrWk-1whePcv_oGOw
INNGEST_SIGNING_KEY=signkey-prod-8769cebb0428825fc486ce675e868b115eadcdafd5b8000b9547f113dc82d6bd

# Meta / WhatsApp Cloud API
META_WHATSAPP_TOKEN=EAARuAeVxTZBIBQ8ZCxZAGsrssm4zOyNZBRh5rsOPuMFV0QtlcWMeALVpADSs3Op7aZC9CUSfQqj1gVX4KMJt1UkfhZAsvMxCAqjhUjzZBJm8FhlIUdZArVxbTZBPDzWGKskEE7yrVMHdu8WnFvAuTYvbAyB8j4ApI2m2Ltn9nzXFeRZCII6STzJqmIkYRy4OcJeVhHmzOxsFEDOHzheL8L93Hx7rpoeeAuSHc176KVzDLARQeho61CURXdrUwdNHlIMAUpKKewIb5q8rIbsUV3nqvfAmxpGQZDZD
META_PHONE_NUMBER_ID=1066886959836373
META_VERIFY_TOKEN=your-custom-verify-token

# Shopify
SHOPIFY_WEBHOOK_SECRET=
